<div id="article">
    <img src="Assets/media/aboutMe.jpg">
    <p> Hello I am Katheer Senthil Vel. I am 19 years old and I am currently a full time Networking and I.T. Security student in <a href="https://ontariotechu.ca" target="_blank">Ontario Tech University</a>. <br /> 
    My origin is India though I was born and raised in the Middle East. </p>
    <video controls> 
    <source src="Assets/media/intro.mp4">
    </video controls>
</div>