<!-- Bottom Nav Bar -->
<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid" id="bottom_nav">
    <h6 class="navbar-text">&copy; 2022 by Katheer Senthil Vel</h6>
<div class="navbar-end">
  <a href="mailto:katheer591@gmail.com" target="_blank">
  <i class="fa-solid fa-lg fa-envelope"></i></a> 
  <a href="https://github.com/katheer24" target="_blank">
  <i class="fa-brands fa-lg fa-github"></i></a>
  <a href="https://www.linkedin.com/in/katheer-senthilvel-7b3578255/" target="_blank">
  <i class="fa-brands fa-lg fa-linkedin"></i></a>
  </div>
</nav>
    