<div id="article">
    <div id="form">
        <h1>Contact Me!</h1>
        <form action=mailto:ktrashtwo@gmail.com ?subject=Signup Form method="post" enctype="text/plain" name="form">
        
            <p>
            <label for="name">Your Name</label><br>
            <input type="text" name="name" placeholder="Enter your name" size="30">
            </p>

            <p>
            <label for="email">Your Email</label><br>
            <input name="email" type="email" placeholder="Enter your email" size="30">
            </p>

            <p>
            <label for="message">Message</label><br>
            <textarea name="message" cols="30" rows="6"></textarea>
            </p>

            <p><input type="submit" value="Submit"/></p>

         </form>
    </div>
</div>