<div id="images">
    <h2>Welcome to my page!</h2>
    <img src="Assets/media/1.jpg">
    <img src="Assets/media/2.jpg">
    <img src="Assets/media/3.jpg">
    <img src="Assets/media/4.jpg">
    <h2>Check out these amazing pictures I took while you are here!</h2>
</div>
