<div id="article">
    <h3>Projects I worked on:</h3> 
    <ul>  
    <li> Python Projects: Calculator, Restaurant Reservation System</li>
    <li> Interviewed a manager for Business Communication </li>   
    </ul> 
</div>